html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1vw; /* Utiliza vw (viewport width) en lugar de un valor fijo */
  margin: 0 1vw; /* Utiliza vw en lugar de píxeles para los márgenes */
}

/* Estilos para el encabezado */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw; /* Utiliza vw en lugar de píxeles para el padding */
  margin-bottom: 2vw; /* Utiliza vw en lugar de píxeles para el margen */
}

h1 {
  margin: 0 auto; /* Corregido el margen izquierdo y derecho */
  font-size: 3vw; /* Utiliza vw en lugar de un valor fijo */
  font-weight: 700;
  padding-right: 2vw; /* Utiliza vw en lugar de píxeles para el padding */
  
}
/* Estilo Estadisticas */
.statistics-container {
  display: flex;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 8px;
  background-color: rgba(10, 79, 119, 0.255);
  margin-top: 10px;
  margin-bottom: 20px;

}

/* Estilo para el párrafo dentro del contenedor */
.statistics-container p {
  font-size: 18px;
  text-align: left;

}
/* Estilo para la Barra */
.contenedor {
  background-color: rgba(246, 242, 242, 0.972);
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay suficiente espacio */
  align-items: center; /* Centra verticalmente los elementos */
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-around;
}

label[for="type-select"],
label[for="temporality-select"],
label[for="sort-select"] {
  margin-right: 5px;
  margin-left: px;
  color: black;
  font-weight: 700;
  font-size: 14px;
  
}

#button-clear {
  
  margin-right: 10px;
  background-color: rgba(188, 228, 228, 0.976);
  font-weight: bold;
  font-size: 14px;
  width: 100px;
  height: 40px;
  border: 2px solid rgb(145, 144, 144);
  border-radius: 10px;
  cursor: pointer;
}
form{
  flex:1;
  display:flex;
  align-items: center;
  margin-right: 20px;
}
#type-select,
#temporality-select,
#sort-select {
  flex: 3; /* Ocupa el doble de espacio que las etiquetas */
  padding: 8px;
  margin-right: 10px;
  font-size: 12px;
}

#type-select option {
  font-size: 14px;
}
@media (max-width: 600px) {
  .contenedor {
    flex-direction: column; /* Cambia la dirección de los elementos a vertical */
    align-items: stretch; /* Estira los elementos verticalmente */
  }

  label[for="type-select"],
  label[for="temporality-select"],
  label[for="sort-select"] {
    margin-bottom: 10px;
  }

  #button-clear {
    width: 100%; /* Ocupa todo el ancho disponible */
  }
}
/* Puedes experimentar con estos valores para obtener el tamaño deseado */

body {
  background-image: url(images/fondo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.card {
  background-color: rgba(188, 228, 228, 0.976);
  border: 2px solid rgb(145, 144, 144);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

/* Estilo para la imagen de la película */
.card img {
  width: 15vw;
  height: 20vw;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Estilo para los términos y definiciones en la tarjeta */
.card dt {
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
  color: #120101;
}

.card dd {
  margin: 10px 10px;
  color: #544a4a;
  font-weight: 700;
  font-size: 15px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li:hover {
  background-color: rgb(116, 133, 221);
  transition: background-color 0.3s;
}

li {
  background: white;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Agrega media queries para hacer la tarjeta responsive en diferentes tamaños de pantalla */
@media (max-width: 767px) {
  .card {
    max-width: 100%;
  }

  /* Puedes ajustar los estilos de los elementos en dispositivos más pequeños según tus necesidades */
  .card dt {
    font-size: 13px;
  }

  .card dd {
    font-size: 13px;
  }

  .card img {
    width: 200px;
  }

  li {
    flex: 1 0 calc(50% - 10px);
    margin-right: 0;
  }
}
/* Modificaion Chat View */
#chat {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  padding: 80px;
  margin-top: 120px;
}

#personajes {
  text-align: center;
}

#personajes h3 {
  margin-top: 10px;
  font-size: 30px;
}

#personajes img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
}

#chatIn {
  margin-top: 20px;
  
}

#chatIn-container {
  position: relative;
}

#messages {
  margin-bottom: 10px;
}

#message-form {
  display: flex;
  margin-bottom: 10px;
 
}

#message-text {
  flex-grow: 1;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
  font-size: 15px;
}

#pregunta-div {
  display: flex;
  align-items: center;
}

#pregunta-input {
  flex-grow: 1;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
  font-size: 15px;
}

.button-send {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-send img {
  width: 20px;
  height: 20px;
}


#pregunta-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#pregunta-input {
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  #personajes {
    float: none;
    width: auto;
  }

  #chatIn-container {
    align-items: center;
  }

  .button-send {
    max-width: none;
  }

  #pregunta-div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #pregunta-input {
    width: 70%;
  }
}
/* Modificaion ApiKey View */

#api {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  text-align: center;
  margin-top: 80px;
}

#api h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
}

#password-text {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
  font-size: 15px;
}

#ingresar {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #Container-Password {
      flex-direction: row;
      align-items: center;
  }

  #password {
      margin-right: 20px;
      margin-bottom: 0;
  }
}
/* Modificaion Footer */

footer {

  width: 100%;
  background-color: rgba(255, 255, 255, 0.886);
  /* Fondo blanco transparente */
  padding: 10px;
  /* Ajusta según sea necesario */
  border-radius: 5px;
  /* Bordes redondeados del contenedor */
  text-align: center;
  /* Centra el contenido del footer */
  align-self: flex-end;
}


.footer-content img {
  width: 50px;
  /* Ajusta según sea necesario */
  height: auto;
  /* Mantiene la proporción original */
  margin-right: 10px;
  /* Espacio entre el logo y el texto */
}

.img-error {
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 20px;


}